# Environments
.env
.env.production
.venv/
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# Testing & Linting
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
