bcrypt>=4.0
django>=5.0,<6.0
djangorestframework>=3.15
djangorestframework-simplejwt>=5.3
python-dotenv>=1.0
django-cors-headers>=4.3
drf-spectacular>=0.27
mysqlclient>=2.2
black>=24.0
ruff>=0.4
pytest>=8.0
pytest-django>=4.8
pytest-asyncio>=0.23
resend>=2.0
