bcrypt>=4.0
django>=5.0,<6.0
djangorestframework>=3.15
djangorestframework-camel-case>=1.4
djangorestframework-simplejwt>=5.3
python-dotenv>=1.0
django-cors-headers>=4.3
drf-spectacular>=0.27
PyMySQL>=1.1
resend>=2.0
