
<!DOCTYPE html>
<html class="pl" lang="en-gb">
<head>
<title>Lorem Ipsum | Event Detail</title>
<meta charset="utf-8"/>
<meta content="width=device-width" name="viewport"/>
<link href="media/durham-university/site-assets/css/durham-style.css" media="all" rel="stylesheet" type="text/css"/>
<link href="media/durham-university/site-assets/css/swiper.css" media="" rel="stylesheet" type="text/css"/>
<link href="media/durham-university/site-assets/css/perfect-scrollbar.css" media="" rel="stylesheet" type="text/css"/>
<meta content="#86001E" name="msapplication-TileColor"/>
<meta content="#86001E" name="theme-color"/>
 <meta content="ttd" name="site"/>
<meta content="events" name="sectiontype"/>
<meta content="27 May 2023" name="eventStartDate-single"/>
<meta content="10:00 AM" name="eventStartTime-single"/>
<meta content="31 March 2025" name="eventEndDate-single"/>
<meta content="05:00 PM" name="eventEndTime-single"/>
<meta content="2023" name="eventYear-single"/>
<meta content="Historic Libraries" name="Eventlocation"/>
<meta content="Palace Green Library" name="Eventlocationmain"/>
<meta content="Historic Libraries" name="Eventlocation2"/>
<meta content="Exhibition" name="EventCategory"/>
<meta content="Penned and Printed" name="EventTitle"/>
<meta content="Penned and Printed" name="EventTitle2"/>
<meta content="Penned and Printed" name="EventTitlesearch"/>
<meta content="An exhibition of our Archives and Special Collections, telling hidden stories from the shelves and strongrooms. (Please note, access to this exhibition will be affected by the upcoming Palace Green Library closure dates.)
" name="EventDescription"/>
<meta content="An exhibition of our Archives and Special Collections, telling hidden stories from the shelves and strongrooms. (Please note, access to this exhibition will be affected by the upcoming Palace Green Library closure dates.)
" name="EventDescriptionsearch"/>
<meta content="assets/Penned-and-Printed-Exhibition-Titles-for-website.jpg" name="EventImage"/>
<meta content="" name="EventDepartment"/>
<meta content="" name="EventDepartmentsearch"/>
<meta content="2023-05-27T10:05:00Z" name="pubDate"/>
<meta content="" name="subject"/>
<meta content="https://pxl-duracuk.terminalfour.net/fit-in/896x504/filters:format(webp)/prod01/channel_4/things-to-do/media/durham-university/site-assets/image/Events-Image-Option-1.jpg" name="EventTTDImage"/>
</head>
<body class="body u-overflow-x-hidden">
<a class="is-focusable u-select-none u-bg-primary u-block u-font-bold u-mb-4 u-p-2 u-rounded-none u-text-white u-visually-hidden" href="#main-content">
<div class="container">Irure nisi nisi fugiat</div>
</a>
<div id="fb-root"></div>
<div class="fixed-sidebar-layout-container u-flex u-flex-col u-min-h-full">
<header @menuchange="changeMenuState($event.detail)" class="site-header" x-data="siteHeader()" x-init="init('normal', $refs.bar)">
<div aria-live="assertive" class="emergencynotice" data-t4-emergency-notices="media/durham-university/site-assets/js/emergency-notice.json"></div>
<div class="u-relative u-z-501">
<div :class="{ 'xl:u-absolute xl:u-z-10 xl:u-w-full' : type === 'transparent', 'xl:u-text-white' : showBackground() === false }">
<div :class="{ 'u-bg-white' : showBackground() }" class="u-relative u-flex u-items-center u-justify-between u-pl-2 u-py-1 u-transition lg:u-py-2 lg:u-pl-4 xl:u-py-0 xl:u-pl-6 u-bg-white" x-ref="bar">
<div :class="{ 'xl:u-hidden' : type === 'transparent' &amp;&amp; !menuOpen &amp;&amp; !searchOpen }">
<a class="u-w-full u-block" href="01-homepage.html" rel="home"><img alt="Logo" class="site-logo" src="https://placehold.co/240x64/86001E/FFFFFF/png?text=Logo"/></a>
</div>
<div :class="{ 'xl:u-hidden' : type === 'transparent' &amp;&amp; (menuOpen || searchOpen), 'xl:u-block' : type === 'transparent' &amp;&amp; !menuOpen &amp;&amp; !searchOpen }" class="u-hidden">
<a class="u-w-full u-block" href="01-homepage.html" rel="home"><img alt="Logo" class="site-logo" src="https://placehold.co/240x64/FFFFFF/86001E/png?text=Logo"/></a>
</div>
<div class="u-flex u-items-end u-flex-col">
<ul class="u-mb-3 utility-navigation u-hidden u-relative u-list-reset u-bg-grey-50 u-gap-x-6 u-pr-10 xl:u-flex" x-data="{ expanded: true }">
<li>
<a class="u-flex u-items-center u-h-full u-p-2 u-text-small u-text-black u-no-underline xxl:u-text-medium u-bg-grey-50 u-transition hocus:u-bg-grey-50--dark u-leading-tight u-text-center" href="#">Do Veniam</a>
</li>
<li>
<a class="u-flex u-items-center u-h-full u-p-2 u-text-small u-text-black u-no-underline xxl:u-text-medium u-bg-grey-50 u-transition hocus:u-bg-grey-50--dark u-leading-tight u-text-center" href="#">Officia consequat Mollit</a>
</li>
<li>
<a class="u-flex u-items-center u-h-full u-p-2 u-text-small u-text-black u-no-underline xxl:u-text-medium u-bg-grey-50 u-transition hocus:u-bg-grey-50--dark u-leading-tight u-text-center" href="#">Ea eiusmod Laboris</a>
</li>
<li style="display: none;" x-show="expanded">
<a class="u-flex u-items-center u-h-full u-p-2 u-text-small u-text-black u-no-underline xxl:u-text-medium u-bg-grey-50 u-transition hocus:u-bg-grey-50--dark u-leading-tight u-text-center" href="01-homepage.html">Sed Qui</a>
</li>
<li>
<button @click="expanded = !expanded" class="u-flex u-items-center u-h-full u-p-2 u-no-underline xxl:u-text-medium u-bg-grey-50 u-transition hocus:u-bg-grey-50--dark u-leading-tight u-text-center u-text-primary u-text-large u-px-1 hocus:u-text-primary--light">
<span class="u-visually-hidden" x-text="expanded ? 'Collapse': 'Expand'">Proident</span>
<svg class="icon" focusable="false" x-show="!expanded">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#feather--plus-circle"></use>
</svg>
<svg class="icon" focusable="false" style="display: none;" x-show="expanded">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#feather--minus-circle"></use>
</svg>
</button>
</li>
</ul>
<div class="u-flex lg:u-mx-4 xl:u-mr-6">
<nav aria-label="Et">
<ul @click.away="escape()" @keyup="escape($event.key)" class="u-hidden u-list-reset u-mb-0 u-gap-x-1 xl:u-flex" x-data="primaryNavigation()">
<li class="u-flex u-flex-col u-items-center">
<a :aria-expanded="expanded(1180137)" @focus="focus(1180137)" class="primary-navigation__link u-flex u-items-center u-h-full u-px-2 u-pt-3 u-pb-5 u-font-bold u-font-sans u-text-inherit u-text-center u-leading-tight hocus:u-bg-grey-50 hocus:u-no-underline hocus:u-text-primary focus:u-shadow-none xxl:u-text-large" href="#">Labore Non Laborum</a>
<button :aria-expanded="expanded(1180137)" :class="{ 'u-bg-secondary u-border-none' : menuOpen, 'u-bg-white u-text-primary u-border-1 u-border-primary focus:u-bg-primary focus:u-text-white' : !menuOpen }" @click="toggleMenu(1180137)" class="primary-navigation__button u-relative u-z-410 u-transition focus:u-shadow-none" style="display: none;" x-show="dropdownButton === 1180137">
<span class="u-visually-hidden" x-text="(menuOpen === 1180137 ? 'Hide' : 'Show') + ' submenu'">Nulla sit laboris Consequat Adipiscing Duis</span>
<span aria-hidden="true">
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use>
</svg>
</span>
</button>
</li><li class="u-flex u-flex-col u-items-center">
<a :aria-expanded="expanded(1186043)" @focus="focus(1186043)" class="primary-navigation__link u-flex u-items-center u-h-full u-px-2 u-pt-3 u-pb-5 u-font-bold u-font-sans u-text-inherit u-text-center u-leading-tight hocus:u-bg-grey-50 hocus:u-no-underline hocus:u-text-primary focus:u-shadow-none xxl:u-text-large" href="#">Occaecat</a>
<button :aria-expanded="expanded(1186043)" :class="{ 'u-bg-secondary u-border-none' : menuOpen, 'u-bg-white u-text-primary u-border-1 u-border-primary focus:u-bg-primary focus:u-text-white' : !menuOpen }" @click="toggleMenu(1186043)" class="primary-navigation__button u-relative u-z-410 u-transition focus:u-shadow-none" style="display: none;" x-show="dropdownButton === 1186043">
<span class="u-visually-hidden" x-text="(menuOpen === 1186043 ? 'Hide' : 'Show') + ' submenu'">Laboris cupidatat amet Non</span>
<span aria-hidden="true">
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use>
</svg>
</span>
</button>
</li><li @mouseenter="openMenu(1186046)" @mouseleave="closeMenu()" class="u-flex u-flex-col u-items-center">
<a :aria-expanded="expanded(1186046)" @focus="focus(1186046)" class="primary-navigation__link u-flex u-items-center u-h-full u-px-2 u-pt-3 u-pb-5 u-font-bold u-font-sans u-text-inherit u-text-center u-leading-tight hocus:u-bg-grey-50 hocus:u-no-underline hocus:u-text-primary focus:u-shadow-none xxl:u-text-large" href="#">Esse Esse</a>
<button :aria-expanded="expanded(1186046)" :class="{ 'u-bg-secondary u-border-none' : menuOpen, 'u-bg-white u-text-primary u-border-1 u-border-primary focus:u-bg-primary focus:u-text-white' : !menuOpen }" @click="toggleMenu(1186046)" class="primary-navigation__button u-relative u-z-410 u-transition focus:u-shadow-none" style="display: none;" x-show="dropdownButton === 1186046">
<span class="u-visually-hidden" x-text="(menuOpen === 1186046 ? 'Hide' : 'Show') + ' submenu'">Deserunt esse eiusmod Incididunt Enim</span>
<span aria-hidden="true">
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use>
</svg>
</span>
</button>
<div class="u-absolute u-pin-x u-pin-t-100 u-bg-primary u-text-white u-z-400" x-cloak="" x-show="menuOpen === 1186046">
<div class="u-py-6 u-bg-primary">
<div class="container">
<h2 class="u-visually-hidden">Cupidatat Cillum reprehenderit</h2>
<div class="row"></div>
<ul class="row u-list-reset">
<li class="col"><a class="u-block u-text-white" href="#">Deserunt Est</a></li>
<li class="col"><a class="u-block u-text-white" href="#">Elit Aute</a></li>
</ul>
</div>
</div>
</div>
</li><li class="u-flex u-flex-col u-items-center">
<a :aria-expanded="expanded(1186045)" @focus="focus(1186045)" class="primary-navigation__link u-flex u-items-center u-h-full u-px-2 u-pt-3 u-pb-5 u-font-bold u-font-sans u-text-inherit u-text-center u-leading-tight hocus:u-bg-grey-50 hocus:u-no-underline hocus:u-text-primary focus:u-shadow-none xxl:u-text-large" href="#">Sit</a>
<button :aria-expanded="expanded(1186045)" :class="{ 'u-bg-secondary u-border-none' : menuOpen, 'u-bg-white u-text-primary u-border-1 u-border-primary focus:u-bg-primary focus:u-text-white' : !menuOpen }" @click="toggleMenu(1186045)" class="primary-navigation__button u-relative u-z-410 u-transition focus:u-shadow-none" style="display: none;" x-show="dropdownButton === 1186045">
<span class="u-visually-hidden" x-text="(menuOpen === 1186045 ? 'Hide' : 'Show') + ' submenu'">Dolore nisi ipsum Nostrud</span>
<span aria-hidden="true">
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use>
</svg>
</span>
</button>
</li><li class="u-flex u-flex-col u-items-center">
<a :aria-expanded="expanded(1186047)" @focus="focus(1186047)" class="primary-navigation__link u-flex u-items-center u-h-full u-px-2 u-pt-3 u-pb-5 u-font-bold u-font-sans u-text-inherit u-text-center u-leading-tight hocus:u-bg-grey-50 hocus:u-no-underline hocus:u-text-primary focus:u-shadow-none xxl:u-text-large" href="#">Anim Eiusmod</a>
<button :aria-expanded="expanded(1186047)" :class="{ 'u-bg-secondary u-border-none' : menuOpen, 'u-bg-white u-text-primary u-border-1 u-border-primary focus:u-bg-primary focus:u-text-white' : !menuOpen }" @click="toggleMenu(1186047)" class="primary-navigation__button u-relative u-z-410 u-transition focus:u-shadow-none" style="display: none;" x-show="dropdownButton === 1186047">
<span class="u-visually-hidden" x-text="(menuOpen === 1186047 ? 'Hide' : 'Show') + ' submenu'">Nostrud consequat sit Do Excepteur</span>
<span aria-hidden="true">
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use>
</svg>
</span>
</button>
</li><li class="u-flex u-flex-col u-items-center">
<a :aria-expanded="expanded(1186044)" @focus="focus(1186044)" class="primary-navigation__link u-flex u-items-center u-h-full u-px-2 u-pt-3 u-pb-5 u-font-bold u-font-sans u-text-inherit u-text-center u-leading-tight hocus:u-bg-grey-50 hocus:u-no-underline hocus:u-text-primary focus:u-shadow-none xxl:u-text-large" href="#">Officia</a>
<button :aria-expanded="expanded(1186044)" :class="{ 'u-bg-secondary u-border-none' : menuOpen, 'u-bg-white u-text-primary u-border-1 u-border-primary focus:u-bg-primary focus:u-text-white' : !menuOpen }" @click="toggleMenu(1186044)" class="primary-navigation__button u-relative u-z-410 u-transition focus:u-shadow-none" style="display: none;" x-show="dropdownButton === 1186044">
<span class="u-visually-hidden" x-text="(menuOpen === 1186044 ? 'Hide' : 'Show') + ' submenu'">Reprehenderit ut do Cillum</span>
<span aria-hidden="true">
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use>
</svg>
</span>
</button>
</li><li class="u-flex u-flex-col u-items-center">
<a :aria-expanded="expanded(1212215)" @focus="focus(1212215)" class="primary-navigation__link u-flex u-items-center u-h-full u-px-2 u-pt-3 u-pb-5 u-font-bold u-font-sans u-text-inherit u-text-center u-leading-tight hocus:u-bg-grey-50 hocus:u-no-underline hocus:u-text-primary focus:u-shadow-none xxl:u-text-large" href="#">Est</a>
<button :aria-expanded="expanded(1212215)" :class="{ 'u-bg-secondary u-border-none' : menuOpen, 'u-bg-white u-text-primary u-border-1 u-border-primary focus:u-bg-primary focus:u-text-white' : !menuOpen }" @click="toggleMenu(1212215)" class="primary-navigation__button u-relative u-z-410 u-transition focus:u-shadow-none" style="display: none;" x-show="dropdownButton === 1212215">
<span class="u-visually-hidden" x-text="(menuOpen === 1212215 ? 'Hide' : 'Show') + ' submenu'">Duis anim excepteur Sed</span>
<span aria-hidden="true">
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use>
</svg>
</span>
</button>
</li>
</ul>
</nav>
<div class="u-flex u-text-h5">
<button :class="{ 'u-text-white' : showBackground() === false, 'is-active' : searchOpen === true}" @click="searchOpen = true" class="site-header__search u-hidden u-relative u-bg-transparent u-px-2 u-pb-5 u-pt-3 hocus:u-bg-grey-50 hocus:u-text-primary u-text-large xl:u-block">
<span class="u-visually-hidden">Consectetur</span>
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--search"></use>
</svg>
</button>
<button @click="searchOpen = searchOpen === false; menuMobileOpen = false" class="u-bg-transparent hocus:u-text-primary u-px-2 xl:u-hidden">
<span class="u-visually-hidden">Proident</span>
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--search"></use>
</svg>
</button>
<button @click="menuMobileOpen = menuMobileOpen === false; searchOpen = false" class="u-bg-transparent hocus:u-text-primary u-px-2 xl:u-hidden">
<span class="u-visually-hidden">Dolor nostrud</span>
<svg class="icon" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--menu-rounded"></use>
</svg>
</button>
</div>
</div>
</div>
</div>
<div class="xl:u-hidden" style="display: none;" x-show="menuMobileOpen === true">
<nav aria-label="Id">
<div class="u-bg-primary mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
<li class="u-border-b-1 u-border-darkpurple u-text-white u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Deserunt Qui Tempor</a>
<div class="u-w-full" style="display: none;" x-show="menuOpen === 1180137">
<div class="u-bg-darkpurple mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
</ul>
</div>
</div>
</li><li class="u-border-b-1 u-border-darkpurple u-text-white u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Veniam</a>
<div class="u-w-full" style="display: none;" x-show="menuOpen === 1186043">
<div class="u-bg-darkpurple mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
</ul>
</div>
</div>
</li><li class="u-border-b-1 u-border-darkpurple u-text-white u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Commodo Voluptate</a>
<button :aria-expanded="menuOpen ? 'true' : 'false'" :class="{ 'mobile-menu__accordion--open' : menuOpen ===  1186046}" @click="menuOpen = menuOpen === 1186046 ? false : 1186046" aria-expanded="false" class="mobile-menu__accordion u-transition">
<span class="u-visually-hidden" x-text="(menuOpen === 1186046 ? 'Hide' : 'Show') + ' submenu'">Aliqua eiusmod commodo Aliquip Nulla</span>
<span aria-hidden="true">
<svg class="icon u-transition" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use>
</svg>
</span>
</button>
<div class="u-w-full" style="display: none;" x-show="menuOpen === 1186046">
<div class="u-bg-darkpurple mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
<li class="u-text-small u-border-b-1 u-border-darkpurple--dark u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Cillum Dolor</a>
</li>
<li class="u-text-small u-border-b-1 u-border-darkpurple--dark u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Aliqua Magna</a>
</li>
</ul>
</div>
</div>
</li><li class="u-border-b-1 u-border-darkpurple u-text-white u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Consectetur</a>
<div class="u-w-full" style="display: none;" x-show="menuOpen === 1186045">
<div class="u-bg-darkpurple mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
</ul>
</div>
</div>
</li><li class="u-border-b-1 u-border-darkpurple u-text-white u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Mollit Aliquip</a>
<div class="u-w-full" style="display: none;" x-show="menuOpen === 1186047">
<div class="u-bg-darkpurple mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
</ul>
</div>
</div>
</li><li class="u-border-b-1 u-border-darkpurple u-text-white u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Commodo</a>
<div class="u-w-full" style="display: none;" x-show="menuOpen === 1186044">
<div class="u-bg-darkpurple mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
</ul>
</div>
</div>
</li><li class="u-border-b-1 u-border-darkpurple u-text-white u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Sit</a>
<div class="u-w-full" style="display: none;" x-show="menuOpen === 1212215">
<div class="u-bg-darkpurple mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
</ul>
</div>
</div>
</li>
</ul>
</div>
</nav>
<div class="u-bg-grey-50 mobile-menu">
<ul class="u-list-reset u-m-0" x-data="{ menuOpen: false }">
<li class="u-border-b-1 u-border-grey-50--dark u-text-primary u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Amet Est</a>
</li>
<li class="u-border-b-1 u-border-grey-50--dark u-text-primary u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Id ex Fugiat</a>
</li>
<li class="u-border-b-1 u-border-grey-50--dark u-text-primary u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="#">Laborum ea Cillum</a>
</li>
<li class="u-border-b-1 u-border-grey-50--dark u-text-primary u-flex u-flex-wrap u-justify-between">
<a class="u-block u-flex-grow u-p-2 u-text-inherit" href="01-homepage.html">Sunt Incididunt</a>
</li>
</ul>
</div>
</div>
<div @click.away="menuOpen = false; searchOpen = false" class="has-dark-bg u-py-4 u-bg-primary u-text-white u-absolute u-pin-l u-pin-r" x-cloak="" x-show="searchOpen === true">
<div class="container">
<form action="#" class="search-form u-relative" x-data="{ liveSearchOpen: false }">
<label class="h4 u-font-sans u-font-bolder u-mb-2" for="example_unique_id_906485678">Consequat Eiusmod dolor Amet</label>
<div class="u-flex u-w-full">
<input @blur="liveSearchOpen = false" @focus="liveSearchOpen = true" autocomplete="false" class="u-h-auto u-border-0 u-m-0 u-truncate u-px-1 u-rounded-none md:u-text-large md:u-px-4 md:u-py-2 lg:u-px-5 lg:u-py-3 xxl:u-text-h5 form-control" id="example_unique_id_906485678" name="searchstax[query]" placeholder="Qui non aliquip qui" type="search"/>
<button class="btn-secondary btn u-pl-1 u-pr-2 md:u-pl-3 md:u-pr-5" type="submit">
<svg class="icon md:u-text-h5" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#feather--search"></use>
</svg>
<span class="u-visually-hidden">Cupidatat</span>
</button>
</div>
</form>
<script>
document.addEventListener("DOMContentLoaded", function() {
  const searchForms = document.querySelectorAll('.search-form');
  searchForms.forEach(form => {
    const input = form.querySelector('input');
    const baseUrl = form.getAttribute('action') || "/search/";
    if (!form || !input) return;
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      const query = input.value.trim();
      let params = new URLSearchParams();
      params.append('searchstax[query]', query || '*');
      const hiddenInputs = form.querySelectorAll('input[type="hidden"]');
      hiddenInputs.forEach(hidden => {
        if (hidden.name && hidden.value) {
          params.append(hidden.name, hidden.value);
        }
      });
      try {
      	let queryString = params.toString();
      	queryString = queryString.replace(/%5B/g, "[").replace(/%5D/g, "]").replace(/%3A/g, ":");
        const searchUrl = `${baseUrl}?${queryString}`;
        window.location.href = searchUrl;
      } catch (err) {
        console.error("Search redirect failed:", err);
      }
    });
  });
});
</script>
<button @click="menuOpen = false; searchOpen = false" class="u-hidden kbd-only:u-inline-block u-absolute u-pin-t u-pin-r u-m-4 u-bg-transparent u-text-current-color u-text-large">
<span class="u-visually-hidden">Dolor do</span>
<svg class="icon hocus:u-text-primary" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--close"></use>
</svg>
</button>
</div>
</div>
</div>
</div>
<div class="u-fixed u-pin u-z-10 u-bg-black u-opacity-25" style="display: none;" x-show="menuOpen || searchOpen"></div>
</header>
<main class="main main-visitor visitor-heather u-flex-auto" id="main-content" role="main">
<div class="submenu-branding submenu-branding--primary">
<nav aria-labelledby="submenu-heading" class="u-breakout submenu u-relative u-z-420" x-data="subNavigationT4()" x-init="init()">
<div class="u-py-1 submenu__bar">
<div class="container">
<h2 class="u-text-small u-text-bold u-text-white u-mb-0" id="submenu-heading">
          Id Deserunt Occaecat Lorem
        </h2>
</div>
</div>
<template id="button-markup-desktop">
<button class="sub-navigation__button u-transition u-text-inherit focus:u-border-1 focus:u-border-primary"><span class="u-visually-hidden sub-navigation__button__info"></span><span aria-hidden="true"><svg class="icon" focusable="false"><use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use></svg></span></button>
</template>
<template id="button-markup-mobile">
<button :aria-expanded="menuOpen ? 'true' : 'false'" class="mobile-menu__accordion u-transition"><span class="u-visually-hidden mobile-menu__accordion__info"></span><span aria-hidden="true"><svg class="icon u-transition" focusable="false"><use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-soft-down"></use></svg></span></button>
</template>
<div class="submenu__track u-bg-secondary">
<div class="submenu__container container">
<div class="submenu__items u-flex u-items-center" x-cloak="">
<a class="u-font-bold u-mr-3 u-text-inherit" href="#"> Veniam Irure Ea</a>
<ul><li class="item"><a href="#">Anim</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Et Ex</a></li>
<li><a href="#">Pariatur ad Enim</a></li>
<li><a href="#">Ex</a></li>
<li><a href="#">Aliquip Anim</a></li>
<li><a href="#">Duis Commodo anim Deserunt Proident</a></li>
<li><a href="#">Anim Ipsum Irure Ad Ex</a></li>
<li><a href="#">Magna Quis</a></li>
</ul>
</li><li class="item"><a href="#">Laboris Elit</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Amet Sint</a></li>
<li><a href="#">Ea Est</a></li>
</ul>
</li><li class="item"><a href="#">Et</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Enim laboris Sunt Elit</a></li>
<li><a href="#">Eiusmod irure Fugiat Sunt</a></li>
<li><a href="#">Est Veniam Elit</a></li>
<li><a href="#">Enim Sit</a></li>
<li><a href="#">Sed</a></li>
<li><a href="#" target="_blank">Cillum</a></li>
</ul>
</li><li class="item"><a href="#">Magna</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Laboris Laborum</a></li>
</ul>
</li><li class="item"><a href="#">Anim Magna</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Exercitation commodo Eiusmod</a></li>
<li><a href="#">Adipiscing</a></li>
<li><a href="#">In Laboris</a></li>
<li><a href="#">Ut</a></li>
<li><a href="#">Laborum</a></li>
</ul>
</li><li class="item"><a href="#">Sit Minim</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Voluptate minim Et commodo Sunt</a></li>
<li><a href="#">Est Sunt Deserunt</a></li>
<li><a href="#">In sunt</a></li>
</ul>
</li><li class="item"><a href="#">Minim</a></li></ul>
<button @click="menuMobileOpen = menuMobileOpen === false" class="u-bg-transparent u-text-h5 u-ml-auto u-p-2 xl:u-hidden">
<span class="u-visually-hidden">Voluptate duis</span>
<svg class="icon hocus:u-text-primary" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--menu-rounded"></use>
</svg>
</button>
</div>
</div>
</div>
<div class="xl:u-hidden" x-show="menuMobileOpen === true">
<div class="mobile-menu">
<ul><li class="item"><a href="#">Est</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Non Ea</a></li>
<li><a href="#">Et qui Aute</a></li>
<li><a href="#">Id</a></li>
<li><a href="#">Veniam Elit</a></li>
<li><a href="#">Laborum Sed fugiat Sunt Culpa</a></li>
<li><a href="#">Ea Sed Enim Elit Qui</a></li>
<li><a href="#">Sint Culpa</a></li>
</ul>
</li><li class="item"><a href="#">Pariatur Ipsum</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Dolor Adipiscing</a></li>
<li><a href="#">Eiusmod Tempor</a></li>
</ul>
</li><li class="item"><a href="#">Lorem</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Reprehenderit esse Cupidatat Reprehenderit</a></li>
<li><a href="#">Aute ea Cupidatat Consequat</a></li>
<li><a href="#">Nostrud Dolor Culpa</a></li>
<li><a href="#">Laboris Pariatur</a></li>
<li><a href="#">Consectetur</a></li>
<li><a href="#" target="_blank">Ut</a></li>
</ul>
</li><li class="item"><a href="#">Mollit</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Consequat Enim</a></li>
</ul>
</li><li class="item"><a href="#">Sit Nostrud</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Nostrud laboris Consequat</a></li>
<li><a href="#">Irure</a></li>
<li><a href="#">Nisi Commodo</a></li>
<li><a href="#">Ad</a></li>
<li><a href="#">Consectetur</a></li>
</ul>
</li><li class="item"><a href="#">Ex Exercitation</a>
<ul class="multilevel-linkul-0">
<li><a href="#">Pariatur minim In est Reprehenderit</a></li>
<li><a href="#">Qui Laborum Cupidatat</a></li>
<li><a href="#">Ullamco dolor</a></li>
</ul>
</li><li class="item"><a href="#">Sed</a></li></ul>
</div>
</div>
</nav>
</div>
<div class="u-pb-4 lg:u-pb-8">
<div class="row u-relative u-bg-white u-flex-row-reverse">
<div class="u-hidden md:u-block fixed-sidebar col-md-3 u-bg-primary u-text-white has-dark-bg">
<aside class="fixed-sidebar__sidebar u-o-3 u-pt-8 u-pb-4 fixed-sidebar__sidebar--right" data-sticky="" role="complementary" style="position: sticky; top: 0px;">
<div class="u-o-3">
<a class="link cta-link u-font-bold u-no-underline u-pr-2 hocus:u-underline u-block u-inline-block u-text-primary u-bg-white u-p-3 u-rounded-full" href="#" onclick="dataLayer.push({'event': 'GAEvent', 'eventCategory': 'Event CTA', 'eventAction': 'Book your place', 'eventLabel': 'Penned and Printed', 'eventValue': 'Free Entry'});">
      Ut ad ipsum 
      <svg class="icon u-transition u-ml-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-button-right"></use>
</svg>
</a>
<div class="details-block u-p-2 u-o-2">
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#durham--calendar"></use>
</svg>
</div>
<div>
<p class="ttd-event-date">27 Exercitation 0835 - 31 Aliqua 3960</p>
</div>
</div>
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#durham--time-clock-circle-alternate"></use>
</svg>
</div>
<div>
<p>in - consectetur</p>
</div>
</div>
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#durham--pin-location"></use>
</svg>
</div>
<div>
<p>Aute Dolore Esse</p>
</div>
</div>
<ul class="u-list-reset u-o-2">
<li>
<a class="link u-text-current-color u-underline" href="#">Laborum minim consectetur</a>
</li>
<li>
</li>
</ul>
</div>
<ul class="u-list-reset u-o-2">
<li>
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#durham--coin"></use>
</svg>
</div>
<div>
<p>Dolor Sunt</p>
</div>
</div>
</li>
</ul>
<div class="u-flex u-flex-wrap u-items-center u-gap-y-1">
<span class="u-flex-no-shrink u-mr-2 u-text-small u-font-bolder xxl:u-text-medium">In pariatur: </span>
<ul class="u-list-reset u-flex u-flex-wrap u-gap-y-1 u-gap-x-2 u-inline u-mb-0">
<li>
<a aria-label="Veniam aliquip Ea" class="u-bg-transparent hocus:u-scale-110 u-p-0 u-text-white hocus:u-text-white--dark" href="#" onclick="dataLayer.push({'eventCategory': 'Social Share', 'eventAction': 'Bluesky', 'eventLabel': 'Penned and Printed'});">
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--bluesky"></use>
</svg>
</a>
</li>
<li>
<button aria-label="In est Sunt" class="u-bg-transparent hocus:u-scale-110 u-p-0 u-text-white hocus:u-text-white--dark" data-social="twitter" data-social-sharing-link="09-event-detail.html" onclick="dataLayer.push({'event': 'GAEvent', 'eventCategory': 'Social Share', 'eventAction': 'Twitter', 'eventLabel': 'Penned and Printed'});">
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--x"></use>
</svg>
</button>
</li>
<li>
<button aria-label="Velit lorem Veniam" class="u-bg-transparent hocus:u-scale-110 u-p-0 u-text-white hocus:u-text-white--dark" data-social="facebook" data-social-sharing-link="09-event-detail.html" onclick="dataLayer.push({'event': 'GAEvent', 'eventCategory': 'Social Share', 'eventAction': 'Facebook', 'eventLabel': 'Penned and Printed'});">
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--facebook"></use>
</svg>
</button>
</li>
<li>
<button aria-label="Veniam fugiat Magna" class="u-bg-transparent hocus:u-scale-110 u-p-0 u-text-white hocus:u-text-white--dark" data-social="linkedin" data-social-sharing-link="09-event-detail.html" onclick="dataLayer.push({'event': 'GAEvent', 'eventCategory': 'Social Share', 'eventAction': 'LinkedIn', 'eventLabel': 'Penned and Printed'});">
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--linkedin"></use>
</svg>
</button>
</li>
</ul>
</div>
<ul class="u-list-reset u-o-3">
</ul>
</div>
</aside>
</div>
<div class="col-md-9">
<div class="main-content fixed-sidebar__main-content u-o-5 lg:u-o-7 u-mt-4 lg:u-mt-8 fixed-sidebar__main-content--left">
<div class="page-header u-relative u-z-0">
<div class="u-flex u-flex-col u-relative u-z-10">
<div class="md:u-flex md:u-flex-grow md:u-justify-between">
<div class="u-flex u-flex-col u-flex-grow u-justify-center">
<div class="u-o-3 u-max-w-measure-lg">
<h1 class="page-header__heading u-mb-0 u-leading-tight u-border-current-color h1">
              Dolor tempor Aute
            </h1>
<ul aria-label="Incididunt cillum consectetur ex nulla anim" class="u-list-reset u-flex u-flex-wrap u-gap-x-2 u-gap-y-1">
<li><a class="u-text-small u-block u-px-2 u-py-1 u-rounded-full u-bg-grey-50 u-transition u-no-underline hocus:u-bg-primary hocus:u-text-white hocus:u-shadow" href="#">Quis</a></li><li><a class="u-text-small u-block u-px-2 u-py-1 u-rounded-full u-bg-grey-50 u-transition u-no-underline hocus:u-bg-primary hocus:u-text-white hocus:u-shadow" href="#">Enim Occaecat</a></li>
</ul>
</div>
</div>
</div>
</div>
</div>
<div class="md:u-hidden">
<div class="u-o-3">
<a class="link cta-link u-font-bold u-no-underline u-pr-2 hocus:u-underline u-block u-inline-block u-text-white u-bg-primary u-p-3 u-rounded-full" href="#" onclick="dataLayer.push({'event': 'GAEvent', 'eventCategory': 'Event CTA', 'eventAction': 'Click', 'eventLabel': 'Book your place', 'eventValue': Free Entry});">
        Minim excepteur laborum 
        <svg class="icon u-transition u-ml-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-button-right"></use>
</svg>
</a>
<div class="details-block u-p-2 u-o-2">
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#durham--calendar"></use>
</svg>
</div>
<div>
<p>27 Quis 6181 - 31 Magna 2543</p>
</div>
</div>
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#durham--time-clock-circle-alternate"></use>
</svg>
</div>
<div>
<p>dolor - officia</p>
</div>
</div>
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#durham--pin-location"></use>
</svg>
</div>
<div>
<p>Reprehenderit Occaecat Dolore</p>
</div>
</div>
<ul class="u-list-reset u-o-2">
<li>
</li>
</ul>
</div>
<ul class="u-list-reset u-o-2">
<li>
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#feather--at-sign"></use>
</svg>
</div>
<div>
</div>
</div>
</li>
<li>
<div class="u-flex u-leading-normal">
<div class="u-mr-2">
<svg class="icon u-scale-110" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#durham--coin"></use>
</svg>
</div>
<div>
<p>Proident Proident</p>
</div>
</div>
</li>
</ul>
<div class="u-flex u-flex-wrap u-items-center u-gap-y-1">
<span class="u-flex-no-shrink u-mr-2 u-text-small u-font-bolder xxl:u-text-medium">Ut dolor: </span>
<ul class="u-list-reset u-flex u-flex-wrap u-gap-y-1 u-gap-x-2 u-inline u-mb-0">
<li>
<a aria-label="Mollit ut Amet" class="u-bg-transparent hocus:u-scale-110 u-p-0 u-text-primary hocus:u-text-primary--dark" href="#" onclick="dataLayer.push({'eventCategory': 'Social Share', 'eventAction': 'Bluesky', 'eventLabel': 'Penned and Printed'});">
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--bluesky"></use>
</svg>
</a>
</li>
<li>
<button aria-label="Reprehenderit dolor Et" class="u-bg-transparent hocus:u-scale-110 u-p-0 u-text-primary hocus:u-text-darkpurple" data-social="twitter" data-social-sharing-link="09-event-detail.html" onclick="dataLayer.push({'eventCategory': 'Social Share', 'eventAction': 'Twitter', 'eventLabel': 'Penned and Printed'});">
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--x"></use>
</svg>
</button>
</li>
<li>
<button aria-label="Fugiat exercitation Nulla" class="u-bg-transparent hocus:u-scale-110 u-p-0 u-text-primary hocus:u-text-darkpurple" data-social="facebook" data-social-sharing-link="09-event-detail.html" onclick="dataLayer.push({'eventCategory': 'Social Share', 'eventAction': 'Facebook', 'eventLabel': 'Penned and Printed'});">
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--facebook"></use>
</svg>
</button>
</li>
<li>
<button aria-label="Cillum duis Ex" class="u-bg-transparent hocus:u-scale-110 u-p-0 u-text-primary hocus:u-text-darkpurple" data-social="linkedin" data-social-sharing-link="09-event-detail.html" onclick="dataLayer.push({'eventCategory': 'Social Share', 'eventAction': 'Linkedin', 'eventLabel': 'Penned and Printed'});">
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--linkedin"></use>
</svg>
</button>
</li>
</ul>
</div>
<ul class="u-list-reset u-o-3">
</ul>
</div>
</div>
<p class="u-text-large p text-long u-max-w-measure-lg u-leading-normal">Exercitation cupidatat pariatur nisi Non est Eiusmod Sunt, aliqua veniam ex minim occaecat veniam fugiat consectetur. dolor adipiscing, proident ad dolore incididunt cillum nulla occaecat voluptate irure sunt Aute Enim In pariatur nisi)
</p>
<div class="embedded-media u-bg-grey-75">
<picture class="image u-w-full">
<source media="(min-width: 1920px)" srcset="https://placehold.co/1200x800/png"/>
<source media="(min-width: 1200px)" srcset="https://placehold.co/1200x800/png"/>
<source media="(min-width: 992px)" srcset="https://placehold.co/1200x800/png"/>
<source media="(min-width: 768px)" srcset="https://placehold.co/1200x800/png"/>
<img alt="Veniam dolore commodo amet do dolore" class="u-w-full img ls-is-cached lazyloaded" data-src="https://placehold.co/1200x800/png" src="https://placehold.co/1200x800/png"/>
</picture>
<p class="u-text-italic u-text-small u-px-2 u-py-1 p text-long u-max-w-measure-lg u-leading-normal">Laborum minim Exercitation Reprehenderit Eiusmod
  </p></div>
<div class="text-long u-max-w-measure-lg u-leading-normal u-o-3">
<p>Eiusmod mollit ipsum Qui Tempor Ad quis Sint Magna, tempor nulla id dolore ad qui magna, ipsum tempor velit velit qui id, minim exercitation elit sint cupidatat ex.</p>
<p>Aliquip id nulla qui incididunt non pariatur adipiscing lorem enim irure, aliquip ad incididunt magna consectetur, laboris aliquip dolore ex do mollit elit, adipiscing excepteur labore esse magna aliqua labore.</p>
<h3 class="h5 u-mb-2">Sit fugiat - ut occaecat</h3>
<p>Aliqua duis sunt aliqua aliquip ullamco Cupidatat Lorem Ipsum, elit sit aliquip sunt labore voluptate voluptate voluptate proident occaecat cupidatat reprehenderit voluptate quis sunt 0880 sunt ipsum 3717, laboris mollit cupidatat pariatur consectetur Cillum duis Ad ipsum.</p>
<p><span>In anim</span><span> <a href="#">Proident qui Mollit</a> cillum</span><span> </span><span>exercitation nostrud pariatur.</span></p>
</div>
<div>
<h2 class="h3 u-mb-3 h2">
    Anim
  </h2>
<div class="u-o-3">
<div class="text-long u-max-w-measure-lg u-leading-normal u-o-3">
<div class="u-font-bold u-text-large">Incididunt Culpa</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<footer class="u-bg-white">
<div class="u-text-white u-py-5 lg:u-py-8">
<div class="container u-o-4 lg:u-o-5">
<div class="u-flex u-flex-col u-items-center u-justify-between md:u-flex-row">
<ul class="u-list-reset u-flex u-flex-col u-items-center u-gap-y-3 u-gap-x-2 u-mb-2 md:u-flex-row">
<li>
<a class="btn btn-primary" href="06-contact-map.html">
                Tempor Fugiat Esse
                <svg class="icon u-ml-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#feather--arrow-right"></use>
</svg>
</a>
</li>
<li>
<a class="hocus:u-text-primary--dark link cta-link u-font-bold u-no-underline u-pr-2 hocus:u-underline u-block" href="#">
               Enim Sit
                <svg class="icon u-transition u-ml-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#cti--arrow-button-right"></use>
</svg>
</a>
</li>
</ul>
<div class="u-text-center lg:u-text-right">
<ul class="u-list-reset u-flex u-flex-wrap u-gap-y-1 u-gap-x-2">
<li>
<a class="u-inline-block u-bg-transparent hocus:u-scale-110 u-p-0 u-text-primary hocus:u-text-primary--dark" href="#">
<span class="u-visually-hidden">Duis Dolor fugiat Do</span>
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--x"></use>
</svg>
</a>
</li>
<li>
<a class="u-inline-block u-bg-transparent hocus:u-scale-110 u-p-0 u-text-primary hocus:u-text-primary--dark" href="#">
<span class="u-visually-hidden">Elit Ullamco sunt Voluptate</span>
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--facebook"></use>
</svg>
</a>
</li>
<li>
<a class="u-inline-block u-bg-transparent hocus:u-scale-110 u-p-0 u-text-primary hocus:u-text-primary--dark" href="#">
<span class="u-visually-hidden">Excepteur Est non Occaecat</span>
<svg class="icon u-h-icon-lg u-w-icon-lg u-border-current-color u-border-1 u-rounded-full u-p-1" focusable="false">
<use xlink:href="media/durham-university/site-assets/image/sprite.svg#simple-icons--instagram"></use>
</svg>
</a>
</li>
</ul>
</div>
</div>
<div class="row u-gap-y-2">
<div class="col-6 col-md u-text-primary">
<hr class="u-w-3/4 sm:u-w-1/2 u-ml-0 u-mb-2 u-border-t-6 u-border-current-color"/>
<span class="u-block u-text-primary u-font-bolder u-mb-2">Labore Cillum</span>
<ul class="list-unstyled u-text-grey-300 u-font-thin">
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Aute Reprehenderit
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Exercitation Aliquip
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Aliquip Irure Laborum
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Excepteur Culpa In
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="">
        Consequat Sint
      </a>
</li>
</ul>
</div><div class="col-6 col-md u-text-primary">
<hr class="u-w-3/4 sm:u-w-1/2 u-ml-0 u-mb-2 u-border-t-6 u-border-current-color"/>
<span class="u-block u-text-primary u-font-bolder u-mb-2">Proident exercitation Ea</span>
<ul class="list-unstyled u-text-grey-300 u-font-thin">
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Sed Est
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Exercitation Ad
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Est Ad Irure
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Deserunt Dolor Tempor
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Velit Cillum
      </a>
</li>
</ul>
</div><div class="col-6 col-md u-text-primary">
<hr class="u-w-3/4 sm:u-w-1/2 u-ml-0 u-mb-2 u-border-t-6 u-border-current-color"/>
<span class="u-block u-text-primary u-font-bolder u-mb-2">Elit</span>
<ul class="list-unstyled u-text-grey-300 u-font-thin">
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Aliqua Irure
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Ex Dolor
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Incididunt Ullamco Laboris
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Veniam Consequat Labore
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Minim Amet
      </a>
</li>
</ul>
</div><div class="col-6 col-md u-text-primary">
<hr class="u-w-3/4 sm:u-w-1/2 u-ml-0 u-mb-2 u-border-t-6 u-border-current-color"/>
<span class="u-block u-text-primary u-font-bolder u-mb-2">In Magna</span>
<ul class="list-unstyled u-text-grey-300 u-font-thin">
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Magna Id
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Ut Laborum
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Dolore magna Et
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Adipiscing Excepteur Culpa
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Ipsum Labore Do
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Voluptate Ea Eiusmod
      </a>
</li>
</ul>
</div><div class="col-6 col-md u-text-primary">
<hr class="u-w-3/4 sm:u-w-1/2 u-ml-0 u-mb-2 u-border-t-6 u-border-current-color"/>
<span class="u-block u-text-primary u-font-bolder u-mb-2">Et Quis proident Laboris Ipsum</span>
<ul class="list-unstyled u-text-grey-300 u-font-thin">
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Laborum Do
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Incididunt Consectetur
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Mollit velit eiusmod Ipsum
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Voluptate
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Ea exercitation Elit
      </a>
</li>
</ul>
</div><div class="col-6 col-md u-text-primary">
<hr class="u-w-3/4 sm:u-w-1/2 u-ml-0 u-mb-2 u-border-t-6 u-border-current-color"/>
<span class="u-block u-text-primary u-font-bolder u-mb-2">Reprehenderit Minim Dolor Dolore Laboris</span>
<ul class="list-unstyled u-text-grey-300 u-font-thin">
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Et Elit
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Amet Ullamco
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Ex Cupidatat
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Laboris ipsum tempor Eiusmod Consectetur Sunt
      </a>
</li>
</ul>
</div><div class="col-6 col-md u-text-primary">
<hr class="u-w-3/4 sm:u-w-1/2 u-ml-0 u-mb-2 u-border-t-6 u-border-current-color"/>
<span class="u-block u-text-primary u-font-bolder u-mb-2">Non Labore</span>
<ul class="list-unstyled u-text-grey-300 u-font-thin">
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        In In
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Proident Minim
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Id Esse
      </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="list-item u-mb-1 sm:u-mb-2 u-text-grey-300 u-text-small sm:u-text-medium link" href="#">
        Consequat aliqua Cupidatat
      </a>
</li>
</ul>
</div>
</div>
<div class="lg:u-flex lg:u-justify-between lg:u-items-center">
<div class="u-mb-4">
<a href="01-homepage.html" rel="home">
<img alt="Logo" class="footer-logo u-mb-2" src="https://placehold.co/240x64/86001E/FFFFFF/png?text=Logo"/>
</a>
<div class="u-text-small u-leading-tight u-text-grey-400">
<p class="address">
<p>ad Duis Reprehenderit<br/>Fugiat Incididunt<br/>Duis <br/>Et in</p>
<p> </p>
</p>
</div>
</div>
</div>
<div class="u-text-small u-text-grey-400 lg:u-flex lg:u-items-center lg:u-flex-row-reverse lg:u-justify-between">
<ul class="u-list-reset u-mb-4 lg:u-flex lg:u-mb-0 lg:u-gap-x-3 ul">
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="u-text-grey-400 u-underline hocus:u-text-grey-400--light link" href="#">
      Proident Reprehenderit 
    </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="u-text-grey-400 u-underline hocus:u-text-grey-400--light link" href="#">
      Deserunt
    </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="u-text-grey-400 u-underline hocus:u-text-grey-400--light link" href="#">
      Aliquip Non
    </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="u-text-grey-400 u-underline hocus:u-text-grey-400--light link" href="#">
      Veniam Mollit 
    </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="u-text-grey-400 u-underline hocus:u-text-grey-400--light link" href="#">
      Proident Occaecat
    </a>
</li>
<li class="list-item u-mb-1 sm:u-mb-2">
<a class="u-text-grey-400 u-underline hocus:u-text-grey-400--light link" href="#">
      Aliquip Aliqua aliquip Dolore
    </a>
</li>
</ul>
<p> 
			©9981 Nisi Laboris </p>
</div>
</div>
</div>
</footer>
</div>
<script src="vendor/jquery-3.5.1.min.js"></script>
<script src="media/durham-university/site-assets/js/durham-dependencies.js" type="text/javascript"></script>
<script src="media/durham-university/site-assets/js/durham-app.js" type="text/javascript"></script>
<script src="media/durham-university/site-assets/js/emergency.js" type="text/javascript"></script>
<script src="media/durham-university/site-assets/js/events-date.js" type="text/javascript"></script>
<script>
var str = "/things-to-do/whats-on/events-calendar/2023/06/penned-and-printed/";
var e = str.search("/events/");
var ce = str.search("/college-events/");
if (e > 0) {
  console.log('Event')
  var res = str.slice(0, e+8);
} else if (ce > 0) {
  console.log('Event Colleges')
  var res = str.slice(0, ce+16);
}
var link = document.querySelector(".link.u-text-current-color.u-underline");
link.href = res + 'download.php?event_id=1318224';
</script>
<script>
      $('.fixed-sidebar__sidebar a[href=""]').attr('style', 'display:none !important');
    </script>
</body>
</html>